body{
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: black;
   
}

.header-class{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}


.header-h1{
    font-size: 100px;
}

.nev-button:hover{
    background-color: rgb(99, 123, 134);
}
 
.nev-button{
    padding: 25px;
    margin: 10px;
    border-radius: 20%;
    background-color: aquamarine;

}
   
.about-class{
    text-align: center;
    height: 80vh;
    padding-top: 50px;
}
.about-h1:hover{
    color:  aquamarine;;
}
.about-h1{
   font-size: 40px;
}
.about-img{
    height: 300px;
}
.about-button-div{
    padding-left: 20px;
}

.about-button{
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
    
}

.MentiBY-class:hover{
    color: rgb(99, 123, 134);
}
.MentiBY-class{
    color: aquamarine;

}
.university-class:hover{
    color: rgb(99, 123, 134);
}
.university-class{
    color: aquamarine;
}
.skills-class{
    padding-top: 150px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.skills-h1:hover{
    color: aquamarine;
}
.skills-h1{
    font-size:60px;
    
}
.skills-list-div{
  padding-left: 80px;
}
.skills-button-div{
    padding-right: 1320px;
}
.projects-class{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    height: 75vh;
}
.projects-h1{
    font-size: 50px;
}
td:hover{
    background-color:rgb(99, 123, 134);;
}   
table,th,td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    color: black;
    background-color: aquamarine;
}
.projects-button-div{
    padding-right: 1320px;
}
.contact-class{
    height: 85vh;
}
.contact-h1{
    font-size: 50px;
    text-align: center;
}
.contact-ol{
    list-style-type: circle;
    padding-left: 650px;   
}
.contact-li{
    padding: 10px;
}
#submit:hover{
    background-color: aquamarine;
    
}
#submit{
    transition: 2s;
    border-radius: 10%;
    padding: 10px;
    
}
.contact-li-submit{
    list-style-type: none;
    padding: 10px;
    margin-left: 120px;
}
.contact-button-div{
    padding-left: 20px;
}
.footer-class{
    background-color: rgb(230, 251, 0);
    color: black;
    text-align: center; 
}
.footer-img{
    height: 50px;
    padding-top: 10px;
}
.footer-img-linkedin{
    height: 40px;
    padding-top: 10px;
}
.footer-img-github{
    height: 40px;
    padding-top: 10px;
}